@import "bloben-common/globals/theme.scss";

.input__wrapper {
  height: auto;
display: flex;
flex-direction: column;
position: relative;
width: 100%;
}


.input__text {
  width: 100%;
  background-color: transparent !important;
  display: flex;
  color: $text;
  flex-direction: row;
  font-size: 1.4rem !important;
  line-height: 20px;
}
.input__text--bold--big {
  @extend .input__text ;
  font-size: 2.4rem !important;
  font-weight: 600;
}
.input__text--bold--big--dark {
  @extend .input__text--bold--big ;
  background-color: transparent !important;
  color: $textDark;
}
.input__text--dark {
  @extend .input__text ;
  background-color: transparent !important;
  color: $textDark !important;
}

.MuiInputBase-input {
  font-family: Poppins !important;
}
