@import "bloben-common/globals/theme.scss";

.input__inputbase {
  //height: 100% !important;
  width: 100%;
  background-color: transparent !important;
  flex-direction: row;
  font-size: 1.4rem !important;
  line-height: 20px;
  color: $text;
  -webkit-appearance: none;
  // TODO Fix
  //box-shadow: ${(props) =>
  //  // @ts-ignore
  //props.borderBottom && !props.isFocused
  //? `inset 0px -1px 0px ${props.theme.border} !important`
  //: props.borderBottom && props.isFocused
  //? `inset 0px -2px 0px ${props.theme.primary} !important`
  //: null};
}
