@import "bloben-common/globals/theme.scss";


.menu_calendars__container {
  position: absolute;
  min-width: 100px;
  width: auto;
  height: auto;
  min-height: 60px;
  background-color: $modal;
  max-height: 300px;
  max-width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  z-index: 99999;
  padding: 4px;
  :hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: $ripple;
  }
}
.menu_calendars__container--dark {
  @extend .menu_calendars__container;
  background-color: $modalDark;
}
.menu_calendars__backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu_calendars__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  :hover {
    background-color : transparent;
  }
}
.menu_calendars__container--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu_calendars__icon {
  font-size: 1.8rem !important;
}
.menu_calendars__container--label {
  padding-left: 8px;
}

.menu_calendars__label {
  font-size: 1.4rem;
  color: $gray;
  padding: 0;
  margin: 0;
}
.menu_calendars__label--dark {
  @extend .menu_calendars__label;
  color: $grayDark;
}
