@import "bloben-common/globals/theme.scss";
$DRAWER_WIDTH_DESKTOP: 270px;

.calendar__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.calendar__container {
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $SURFACE_LIGHT;
  padding-bottom: 150px;
  @media (min-width: 750px) {
    width: $DRAWER_WIDTH_DESKTOP;
    //border-radius: 0 0 0 32px;
  }
}
.calendar__container--dark {
  @extend .calendar__container;
  background-color: $SURFACE_DARK;
}

.text-bold {
  font-weight: 600 !important;
}

.desktop-col {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 50px;
  background-color: $SURFACE_LIGHT;
}

.calendar__row {
  display: flex;
  flex-direction: row;
}
