@import "bloben-common/globals/theme.scss";

.header_modal__wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 56;
}

.header_modal__container--left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
.header_modal__container--middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}
.header_modal__container--right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;
}
