@import "bloben-common/globals/theme.scss";

.content_empty__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  @media (min-width: 750px) {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}
.content_empty__title {
  color: $gray;
  font-size: 2rem;
  padding-top: 24px;
}

.content_empty__image {
  width: 80%;
  height: 80%;
}
